<!--un fichier .erb est un fichier HTML dans lequel tu peux y rajouter du Ruby.-->
<!--index : c'est la view qui liste tous les gossip présents en BDD.-->

<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
		<h1>Les gossips bienveillants de The Hacking Project!</h1>
		<p>Bienvenue ! Envie de dire du bien des tes co-mousaillons ? Crée un nouveau potin !</p>
		<a href="/gossips/new/">crée un nouveau potin</a>

		<% gossips.each_with_index do |gossip, index| %>
      <p>
        L'auteur du potin : <%= gossip.author %><br/>
        Le potin : <%= gossip.content %>
        <a href="./gossips/<%= index %>/"> Afficher ce gossip</a>
      </p>
    <% end %>
	</body>
</html>