<!DOCTYPE html>
<html>
	<head>
		<title>Page Potin</title>
	</head>
		<body>
			<h1>Voici la page du potin n° <%= id %></h1>
			<p>
				Son auteur : <%= gossip.author %><br/>
				Le contenur du potin : <%= gossip.content %><br/>
			</p>
			<a href="/">Retourne à la page des potins</a>


		</body>
</html>