<!DOCTYPE html>
<html>
	<head>
		<title>Page Potin</title>
	</head>
		<body>
			<h1>Voici la page du potin n° <%= params[:id] %></h1>
			<p>
				Son auteur : <%= gossips[0].author %><br/>
				Le contenur du potin : <%= gossips[0].content %><br/>
			</p>
			<a href="/">Retourne à la page des potins</a>


		</body>
</html>